.hero-container {
    height: 70%;
    // font-size: 21px;
    font-size: 1rem;
    position: relative;
    z-index: 1;
    margin-top: 8vw;

    font-family: 'jetbrains mono';
    // font-family: 'ibm plex mono';
    // font-family: 'space mono';
    // font-family: 'source code pro';
    // font-family: 'anonymous pro';


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .hero-content {
        background-color: var(--clr-surface);
        border-radius: 20px;
        padding: 2vw;
        border: 4px solid var(--clr-separators);
        width: 65%;
        position: relative;
        
        .window-bar {
            height: 2.5vw;
            background-color: rgb(36, 38, 59);
            position: absolute;
            width: 100%;
            left: 0px;
            top: 0px;
            border-radius: 20px 20px 0 0;
            display: flex;
            align-items: center;
            gap: 10px;
            padding-left: 1vw;
            
            .ball {
                height: 1vw;
                width: 1vw;
                border-radius: 100%;
                
                &.rose {background-color: var(--clr-rose);}
                &.pink {background-color: var(--clr-pink);}
                &.green {background-color: var(--clr-green);}
            }
        }

        .prompt-text {
            margin-top: 1.5vw;
        }

        .prompt-content {
            width: 100%;
            display: flex;
            align-items: center;
            font-weight: 600;
            color: var(--clr-values);

            .logo {
                width: 20vw;
                margin: 4vw 2vw 6vw 3vw;
            }

            .content-text {
                padding: 3vw 0 3vw 3vw;
                .personal-info .key {
                    display: inline-block;
                    width: 7vw;
                }
                .personal-info.title {
                    margin: 0 0 1vw;
                }
                .personal-info.second-title {
                    margin: 2vw 0 1vw;
                }
                .personal-info.text {
                    margin-left: 3vw;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
                    margin-bottom: .5vw;
                }
            }
        }
    }

    .about-me-button {
        background-color: var(--clr-surface);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
        transition: .2s ease-in-out;
        color: var(--clr-separators);
        border-radius: 10px;
        border: 3px solid var(--clr-border);

        &:hover {
            color: var(--clr-values);
            border: 3px solid var(--clr-separators)
            // border-radius: 15    px;
        }

        a {
            color: inherit;
            text-decoration: none;
            display: block;
            padding: 12px 16px;
        }
    }
}


@media screen and (max-width: 992px) {
    
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 600px) {
    
}

@media screen and (max-width: 450px) {
    
}


