.hero-container {
    min-height: 100svh;
    font-size: 1rem;
    position: relative;
    z-index: 1;

    color: var(--clr-values);

    padding: 0 8vw;

    font-family: 'JetBrains Mono', monospace;

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    
    .hero-text {
        display: flex;
        flex-direction: column;
        gap: 1.4em;


        .greeting {
            letter-spacing: 1px;
        }

        .hero-name {
            font-size: clamp(2.5rem, 8vw ,6rem);
        }

        .separator {
            width: 4rem;
            height: 1px;
            background-color: var(--clr-separators);
        }

        .hero-description {
            max-width: 50ch;
            line-height: 1.7;
        }


        .hero-my-work-button {
            background-color: color-mix(in srgb, var(--clr-surface) 80%, transparent);
            transition: .2s ease-in-out;
            border-radius: .4em;
            border: 2px solid var(--clr-border);
            text-decoration: none;
            padding: .5em 1em;
            display: inline-flex;
            align-items: center;
            width: fit-content;
            font-size: 1em;
            svg {
                height: 1em;
                width: 1em;
                margin-left: .5em;
                color: var(--clr-values);
            }

            &:hover {
                color: var(--clr-values);
                border: 2px solid var(--clr-rose)
            } 
        }
    }

    .hero-footer {
        color: var(--clr-keys);
        position: absolute;
        bottom: 2rem;
        width: calc(100%  - (8vw * 2));

        display: flex;
        justify-content: space-between;
        letter-spacing: 1px;

        .scroll-hint {
            display: flex;
            align-items: center;
            gap: .5rem;
            width: fit-content;

            &::before {
                content: '';
                display: inline-block;
                width: 2rem;
                height: 1px;
                background-color: var(--clr-separators);
            }
        }
        .location {
            width: fit-content;
        }
    }
}


// @media screen and (max-width: 1150px) {
//     .hero-container {
//         .hero-content {
//             width: 85%;
//         }
//         .about-me-button {
//             margin-top: 10%;
//         }
//     }
// }

// @media screen and (max-width: 950px) {
//     .hero-container {
//         .hero-content {
//             .prompt-content {
//                 .content-text {
//                     .personal-info .key {
//                         width: 90%;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: 650px) {
//     .hero-container {
//         .hero-content {
//             padding: 1em;
//             .prompt-text {margin-top: 10%;}
//             .prompt-content {
//                 flex-direction: column;
//                 gap: 3em;
//                 padding: 1em;
//                 .logo {
//                     width: 20vh;
                    
//                 }
//                 .content-text {
//                     .personal-info .key {width: 7em}
//                 }
//             }
//         }
//     }
// }

// @media screen and (max-width: 520px) {
//     .hero-container {
//         .hero-content {
//             .window-bar { height: 5%;}
//             .prompt-content {
//                 padding: 1em 0;
//                 .content-text {
//                     display: flex;
//                     flex-direction: column;
//                     align-items: center;
//                     .personal-info {
//                         width: 100%;
//                         &.text {margin-left: 0;}
//                     }
//                 }
//             }
//         }
//     }
// }


