.mesh {
  position: absolute;
  inset: 0;
  z-index: 0;
  overflow: hidden;
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  animation: initShow 5s;
}

@keyframes initShow {
  from {opacity: 0;}
  to {opacity: 1}
}

.blob {
  position: absolute;
  border-radius: 40% 60% 55% 45%;
  filter: blur(60px);
  opacity: 0.4;
  will-change: transform;
  // opacity: .6;
  width: 150vw;
  height: 150vw;
  left: -30%;
  top: -10%;

  background-color: var(--clr-rose);

  animation: roam 48s ease-in-out infinite;
}

@media screen and (min-width: 1000px) {
  .blob {
    filter: blur(80px);
    left: -30%;
    top: -30%;
    opacity: .5;
    height: 100vw;
    width: 140vw;
    animation: roam-desktop 36s ease-in-out infinite;
  }
}


@keyframes roam {
  0%   { transform: translate(0,     0); background-color: var(--clr-rose);}
  25%  { transform: translate(40vw, 40vh); background-color: var(--clr-pink);}
  50%  { transform: translate(10vw, 30vh); }
  75%  { transform: translate(50vw, -10vw); background: var(--clr-gold);}
  100% { transform: translate(0, 0); background-color: var(--clr-rose);}
}

@keyframes roam-desktop {
  0%   { transform: translate(0, 0); background-color: var(--clr-rose);}
  25%  { transform: translate(30vw, 40vh); background-color: var(--clr-pink);}
  50%  { transform: translate(0, 10vw);}
  75%  { transform: translate(40vw, 30vh); background-color: var(--clr-gold);}
  100% { transform: translate(0, 0); background-color: var(--clr-rose);}
}


@media (prefers-reduced-motion: reduce) {
  .mesh, .blob { animation: none; }
}