.nav-container {
    position: absolute;
    z-index: 1;
    left: 20px;
    top: 20px;
    font-family: 'JetBrains Mono';
    color: var(--clr-separators) !important;
    background: var(--clr-surface);
    border: 2px solid var(--clr-borders);
    border-radius: 5px;
    padding: 5px 12px;

    .nav-button {
        font-size: 21px;
        font-weight: 500;
        padding: 3px;
        background: none;
        border: none;
        color: inherit;

        .cursor {
            display: inline-block;
            width: 7px;
            height: 13px;
            border-radius: 2px;
            background-color: var(--clr-rose);
            animation: blink 1.1s step-end infinite;        }
    }

}

@keyframes blink { 0%,100%{opacity:1} 50%{opacity:0} }