.projects-showcase {
    font-family: 'JetBrains Mono', monospace;

    padding: 6rem 8vw 12rem;

    display: flex;
    flex-direction: column;
    // align-items: center;
    gap: 2rem;

    border-bottom: 1px solid var(--clr-border);

    // Section title
    .projects-showcase-title {
        display: inline-flex;
        align-items: center;
        gap: .6rem;

        text-transform: uppercase;
        letter-spacing: 1px;

        &::before {
            content: '';
            height: 1px;
            width: 2rem;
            background-color: var(--clr-separators);
        }
    }

    // Section oneliner (Big, eyecatching)
    .projects-showcase-oneliner {
        font-size: 3rem;
    }

    // Project slider controls
    .projects-slider-controls {
        display: flex;
        align-items: center;
        gap: 2rem;
        .projects-slider-guide {
            display: flex;
            gap: .9em;
            margin-left: 1rem;

            .guide-dot {
                width: .6em;
                height: .6em;
                border-radius: 100%;
                cursor: pointer;


                background-color: var(--clr-keys);

                transition: .15s ease;

                &.active {
                    background-color: var(--clr-rose);
                    scale: 1.2;
                }
            }
        }
        .projects-slider-buttons {
            display: flex;
            margin-left: auto;
            gap: 2em;
            
            button {

                color: var(--clr-values);
                background: none;

                border: 1px solid var(--clr-keys);
                padding: .4em .8em;
                border-radius: .5em;
                cursor: pointer;
                transition: .25s ease;

                font-size: 1.3em;

                &:hover {
                    color: var(--clr-rose);
                    border: 1px solid var(--clr-rose);
                }

                &.invalid {
                    color: var(--clr-border);
                    border: 1px solid var(--clr-surface);

                    pointer-events: none;
                }
            }
        }
    }


    .projects-slider-container {
        display: flex;
        overflow: scroll;
        gap: 8vw;
        scroll-snap-type: x mandatory;
        width: calc(100% + (8vw * 2));
        align-self: center;

        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar { display: none; }
        
    
        .project-slide {
            min-width: 100%;
            padding: 0px 8vw;
            display: grid;
            grid-template-columns: 1fr;
            gap: 2rem;

            scroll-snap-align: center center;
            scroll-snap-stop: always;

            .slide-left {

                .details-container {
                    background-color: var(--clr-background-light);
                
                    padding: 2rem;
                    display: grid;
                    gap: 1.5rem;
                    border-radius: 1rem;
                    border: 1px solid var(--clr-border);

                    list-style: none;

                    .details-block {
                        .key { 
                            display: inline-block;
                            width: 25%;
                        }
                    }

                    .separator {
                        height: 1px;
                        width: 100%;
                        background-color: var(--clr-border);
                    }


                }
            }
            .slide-right {
                display: grid;
                gap: 2rem;

                .project-index {}

                .project-title {
                    font-size: 2em;
                }

                .separator {
                    height: 1px;
                    width: 2rem;
                    background-color: var(--clr-separators);
                }

                .project-description {
                    line-height: 2rem;
                }

                .project-tags {
                    display: flex;
                    gap: 1.5rem;
                    .tag {
                        color: var(--tag-color);
                        padding: .3em .6em;
                        border-radius: .5em;
                        border: 1px solid color-mix(in srgb, var(--tag-color) 50%, transparent);
                    }
                }   

                .project-link {
                    color: var(--clr-border);
                    text-decoration: none;
                    font-size: 1.2em;

                    transition: .25s ease;
                    
                    span {transition: .25s ease;}

                    &:hover {
                        color: var(--clr-rose);
                        span { color: var(--clr-values)}
                    }
                }
            }


            &.last-slide {
                color: var(--clr-values);
                display: flex;
                // padding-top: 5rem;
                align-items: center;
                flex-direction: column;
                align-self: center;
                gap: 2rem;


                .last-slide-label {
                    display: inline-flex;
                    align-items: center;
                    gap: 1rem;
                    
                    text-transform: uppercase;
                    font-weight: 600;

                    &::before, 
                    &::after {
                        content: '';
                        height: 1px;
                        width: 3rem;
                        background-color: var(--clr-separators);
                    }
                }

                .last-slide-title {
                    font-size: 2.5em;
                    text-align: center;
                    max-width: 20ch;
                }

                .last-slide-subtext {
                    font-size: 1.2em;
                    text-align: center;
                    line-height: 1.5em;
                }

                .last-slide-link {
                    color: var(--clr-keys);
                    text-decoration: none;
                    border: 1px solid var(--clr-border);
                    border-radius: .5em;
                    padding: .5em .8em;
                    transition: .25s ease;
                    span {transition: .25s ease;}
                    cursor: pointer;

                    &:hover {
                        color: var(--clr-rose);
                        border: 1px solid var(--clr-rose);

                        span {
                            color: var(--clr-values);
                        }
                    }
                }
            }
        }
    }
}



@media screen and (min-width: 900px) {
    .projects-showcase {
        .projects-slider-container {
            .project-slide {
                grid-template-columns: 1fr 1fr;
                gap: 8rem;
                .slide-left {
                    align-self: center;
                }
                .slide-right {
                    // align-self: center;
                    align-content: start;
                }

                &.last-slide {
                    .last-slide-title {
                        max-width: unset;
                    }
                }
            }
        }
    }
}