.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    // gap: 1em;

    * {transition: .15s ease;}

    .top-inputs {
        display: flex;
        flex-direction: column;
        width: 100%;  

        .input-block {
            width: 100%;
        }
    }
    
    .input-block {

        label {
            display: flex;
            flex-direction: column;
            gap: .5em;
            color: var(--clr-keys);

            &:has(*:focus) {
                color: var(--clr-rose);
            }

            input, textarea {
                border: 1px solid var(--clr-separators);
                background: none;
                padding: .6em .9em;
                border-radius: .5em;
                font-size: 1em;

                color: var(--clr-values);
                outline: none;

                &:focus {
                    border: 1px solid var(--clr-keys);
                }
            }

            .message-input {
                height: 15em;
            }
        }

        .error-container {
            height: 1.5em;
            margin: .5em ;
            .input-error {
                color: var(--clr-pink)
            }
        }
    }

    .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .form-footer-caption {
            
        }
        input {
            background: none;
            border: 1px solid var(--clr-separators);
            color: var(--clr-rose);
            padding: .6em .8em;
            border-radius: .5em;
            cursor: pointer;
            transition: .25s ease;

            &.submitting {
                color: var(--clr-keys);
                border: 1px solid var(--clr-border);
                pointer-events: none;
            }


            &:hover {
                border: 1px solid var(--clr-rose);
            }
        }
    }

    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        white-space: nowrap;
        clip-path: inset(0 0 0 0);
        bottom: 0;
        right: 0;
        background-color: none;
        border: none;
        opacity: 0;
    }
}


.popup {
        position: fixed;
        bottom: 6em;
        right: 2em;
        left: 2em;
        background: none;
        display: flex;
        align-items: center;
        justify-content: center;
        
        transition: .35s ease;
        font-size: 1rem;
        color: var(--clr-values);

        &.successful-submit {color: var(--clr-rose); .pop-up-container {border: 1px solid var(--clr-rose);}}
        &.failed-submit {color: var(--clr-pink); .pop-up-container{border: 1px solid var(--clr-pink);} animation: failed-shake 500ms ease;}

        transform: translateY(0);

        .pop-up-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 2em;
            padding: 1em;
            background-color: var(--clr-surface);
            border: 1px solid var(--clr-separators);
            border-radius: .5em;
            font-size: 1.5em;

            .pop-up-close-button {
                border: 1px solid var(--clr-separators);
                color: var(--clr-keys);
                background: none;
                padding: .8em 1.2em;
                transition: .15s ease;

                &:hover {
                    border: 1px solid var(--clr-rose);
                    color: var(--clr-rose);
                }
            }
        }

        &.pop-up-leave-animation {
            opacity: 0;
            pointer-events: none;
            transform: translateY(-20px);

        }

        @starting-style {
            opacity: 0;
            transform: translateY(20px);
            pointer-events: none;
        }
    }

@media screen and (min-width: 500px) {
    .contact-form {
        .top-inputs {
            flex-direction: row;
            gap: 1em;
        }
    }
}


@media screen and (min-width: 900px) {
    .popup {
        left: auto;
        right: 3em;
        bottom: 3em;
        .pop-up-container {
            font-size: 1.2em;
        }
    }
}

@keyframes failed-shake {
    0% {transform: translateX(0);}
    10% {transform: translateX(2px);}
    20% {transform: translateX(-2px);}
    30% {transform: translateX(2px);}
    40% {transform: translateX(-2px);}
    50% {transform: translateX(2px);}
    60% {transform: translateX(-2px);}
    70% {transform: translateX(2px);}
    80% {transform: translateX(-2px);}
    90% {transform: translateX(2px);}
    100% {transform: translateX(0);}
}