/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Exo+2:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Michroma&family=Orbitron:wght@400..900&family=Rajdhani:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

:root {
    font-size: clamp(12px, .8vw, 38px);

    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    background-color: var(--clr-background);
    --clr-background: #0d0f17;
    --clr-background-light: #141722;
    --clr-surface: #1a1d2e;
    --clr-border: #2a2d3e;
    --clr-keys: #565f89;
    --clr-values: #c0caf5;
    --clr-separators: #3b3d5c;
    --clr-rose: #c4a7b7;
    --clr-gold: #e0af68;
    --clr-pink: #f7768e;

}

.separator {color: var(--clr-separators)}
.key {color: var(--clr-keys);}
.value {color: var(--clr-values);}
.rose {color: var(--clr-rose);}
.gold {color: var(--clr-gold)}
.pink {color: var(--clr-pink);}
