.home-wrapper {
    height: 100%;

    
    .hero-container {
        height: 70%;
        font-size: 21px;
        position: relative;
        z-index: 1;
        margin-top: 100px;

        font-family: 'jetbrains mono';
        // font-family: 'ibm plex mono';
        // font-family: 'space mono';
        // font-family: 'source code pro';
        // font-family: 'anonymous pro';


        display: flex;
        align-items: center;
        justify-content: center;

        .hero-content {
            background-color: var(--clr-surface);
            border-radius: 15px;
            padding: 40px;
            width: max-content;

            .prompt-content {
                width: 1100px;
                display: flex;
                align-items: center;
                font-weight: 800;
                color: var(--clr-values);

                .logo {
                    height: 230px;
                    margin: 80px 40px 150px 60px;
                }

                .content-text {
                    padding: 50px 0px 50px 50px;
                    .personal-info .keys {
                        display: inline-block;
                        width: 140px;
                    }
                    .personal-info.title {
                        margin: 0px 0px 25px;
                    }
                    .personal-info.second-title {
                        margin: 40px 0px 25px;
                    }
                    .personal-info.text {
                        margin-left: 40px;
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@keyframes bg{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 100%;
    }
    100%{
        background-position: 0% 50%;
    }
}
